body{
  background:#f0e68c;
}
header{
  background:#2f4f4f;
  text-align: center;
  padding: 0.1%;
  font-weight: 600;
  box-shadow: 5px 5px blue;
  border-radius: 10px;
}
a img{
  display: block;
  width:15%;
  height: 15%;
  margin:1% 3% 0 auto;
}
.parent{
  display: flex;
}
.child{
  background:#66CDAA	;
  width:45%;
  height: 45%;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  margin:2%;
}
.child img{
  display: block;
  width:15%;
  height: 15%;
  margin: 2% 43%;
}
  
